<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
<h1>Login </h1>
        <label>
            Username /ID
        </label>
        <input formControlName="id" class="form-control" type="text">
<small class="red" *ngIf="!getId.valid && (getId.touched || getId.dirty)">ID Reuired</small>
<br>
        <label>
            Password
        </label>
        <input formControlName="pass" class="form-control" type="password">
        <small class="red" *ngIf="!getPass.valid && (getPass.touched || getPass.dirty)">Password Reuired</small>

        <br>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Login</button>
    </form>

</div>